*{
    max-width: 960px;
    margin: auto;
}

body{
    background: lightblue;
}

.menu{
    padding-top: 50px;
    display: flex;
    text-align: center;
    list-style: none;
    margin: 0px 350px;
}

h1{
    padding: 20px;
    text-align: center;
}

.bai7{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}

.bai13{
    padding: 10px;
    border: 1px solid #111;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: bisque;
}